extends layout

block content
    div#header
        h1#title Navigation Hub

    div#main
        a(href="/projects/create")
            p Professor Use Case
        a(href="/projects/select")
            p Student use Case
        a(href="student_sign_up")
            p Student use Case First Time
