extends layout

block content
    div#header
        h1#title Navigation Hub

    div#main
        a(href="/projects/create")
            p Teacher use case
        a(href="/projects/select")
            p Student-project-select(skips survey)
        a(href="student_sign_up")
            p Student sign up, first time survey use case