extends layout

block content
    div#header
        h1#title Navigation Hub

    div#main
        a(href="/")
            p Teacher-group-create
        a(href="student_sign_up")
            p Student_Sign_Up