doctype html
html

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/main.js")
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/util.js")
    script(src="/javascripts/drop_down_menu.js")
  body(onclick = "drop_down_menu()" style="position: absolute; left:0px; right:0px; top:0px; bottom:0px;")
    block content