.pop_over{
  position: absolute;
  background-color: #e4e4e4;
  padding-left: 3px;
  padding-right: 3px;
  border: solid;
  border-color: #dfdfdf;
  border-radius: 5px;
  box-shadow: 2px 2px 6px #9a9a9a;
  opacity: 1.0;
  transition: opacity 0.4s;
}

.pop_over_head {
  color: black;
  margin: 5px;
  font-size: 20pt;
  font-family: Futura, sans-serif;
}

.button{
  display: inline-block;
  color: white;
  background-color: #e67e22;
  border: solid;
  border-color: #e67e22;
  border-radius: 5px;
  width: 65px;
  height: 20px;
  position: inherit;
}

